body {
  margin-top:20px;
  margin-left:50px;
}

button {
	width:150px;
	padding-bottom:10px; 	
	padding-top: 30px;
	font-size: 18px;
	border:none;
	outline: none;
	background-color: white;
	color:#556270;
  font-family: 'Open Sans', sans-serif;
	font-weight:lighter;
  
}

button:hover {
	background-color: #ffaa00;
}

input {
  font-size:18px;
  font-family: 'Open Sans', sans-serif;
	font-weight:lighter;
	color:#556270;
	outline: none;
	padding:7px 23px 7px 23px;

}

canvas {
	display: block;
}

p {
  font-size:18px;
  font-family: 'Open Sans', sans-serif;
	font-weight:lighter;
	color:#556270;
	margin-left:22px;
}